@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Ubuntu", sans-serif;
}

.background {
  position: fixed;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
}

.background img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 50%;
  min-height: 50%;
  filter: blur(15px);
  -webkit-filter: blur(50px);
  transform: scale(1.1);
}

.container {
  background-color: #e7e7e7;
  margin: 100px auto auto;
  height: 600px;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease;
}

.song-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 120px;
  height: 100vh;
  background: #f7f7f7;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 30px 20px 20px 20px;
  z-index: 10;
  overflow-wrap: break-word;
}

.song-list h4 {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

.song-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: #333;
}

.song-list li.active,
.song-list li:hover {
  background: #e7e7e7;
  font-weight: bold;
}

.container:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
}

.player-img {
  width: 300px;
  height: 300px;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-img img {
  object-fit: cover;
  border-radius: 20px;
  height: 0;
  width: 0;
  opacity: 0;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}
.player-img:hover img {
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}
.player-img img.active {
  width: 100%;
  height: 100%;
  transform: all 0.5;
  opacity: 1;
}

h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  max-width: 100%;
  margin: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
}
h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.player-progress {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px 35px;
  height: 6px;
  width: 90%;
}

.progress {
  background-color: #212121;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transform: width 0.1s linear;
}

.music-duration {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

.player-controls {
  position: relative;
  justify-self: center;
  text-align: center;
}

.play-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 10px 0;
}

.fa-solid {
  color: #666;
  cursor: pointer;
  user-select: none;
  transition: all 0.3 ease;
}
.fa-solid:hover {
  filter: brightness(40%);
}

.play-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.input {
  margin: 30px auto;
  text-align: center;
  width: 400px;
}

.input label {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.input label:hover {
  transform: scale(1.2);
  text-shadow: 6px -2px 4px rgba(0, 0, 0, 0.5);
  background: none;
}

.input button {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.input button i {
  margin-right: 8px;
}

.input ::file-selector-button {
  display: none;
}

#file-chosen {
  margin: 5px auto 0 auto;
  display: block;
  font-size: 20px;
  font-weight: 300;
  pointer-events: none;
}

@media (max-width: 768px) {
  .song-list {
    width: 120px;
    padding: 10px 5px 10px 5px;
  }

  .song-list h4 {
    display: none;
  }
  .song-list li {
    font-size: 13px;
    padding: 6px 0;
    word-break: break-word;
    white-space: normal;
  }
}
